@{
    ViewData["Title"] = "Calendario";
}

<div class="content">
    <div class="container-fluid">

        <!-- Título de sección -->
        <div class="row mb-4">
            <div class="col-12">
                <h3>Calendario de Reservas</h3>
            </div>
        </div>
        <div class="row">
         
            <!-- /.col -->
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>

    </div>
</div>

@section Scripts {
    <!-- Scripts necesarios para el calendario -->
    <script src="~/adminlte/plugins/moment/moment.min.js"></script>
    <script src="~/adminlte/plugins/fullcalendar/main.js"></script>
    <link href="~/adminlte/plugins/fullcalendar/main.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            /* initialize the calendar */
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            if (calendarEl) {
                var calendar = new Calendar(calendarEl, {
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    themeSystem: 'bootstrap',
                    events: [
                        {
                            title: 'All Day Event',
                            start: new Date().setDate(1),
                            backgroundColor: '#f56954',
                            borderColor: '#f56954',
                            allDay: true
                        },
                        // Resto de los eventos de ejemplo
                    ],
                    editable: true,
                    droppable: true,
                });
                calendar.render();
            }
        });
    </script>
}
