@{
    ViewData["Title"] = "Calendario";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12">
                <h3>Calendario de Reservas</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminlte/plugins/moment/moment.min.js"></script>
    <script src="~/adminlte/plugins/fullcalendar/main.js"></script>
    <script src="~/adminlte/plugins/fullcalendar/locales/es.js"></script>
    <link href="~/adminlte/plugins/fullcalendar/main.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            if (calendarEl) {
                var calendar = new Calendar(calendarEl, {
                    locale: 'es', // Configura el idioma
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth'
                    },
                    initialView: 'dayGridMonth',
                    themeSystem: 'bootstrap',
                    events: '/Reserva/ObtenerReservasCalendario', // URL al método que devuelve las reservas
                    editable: false,
                    droppable: false,

                    // Formato de la hora de los eventos
                    eventTimeFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        meridiem: false, // Para usar formato de 24 horas (sin AM/PM)
                    },
                    // Evento al hacer doble clic sobre un evento
                    // eventClick: function (info) {
                    //     var reservaId = info.event.id; // Obtiene el ID de la reserva
                    //     window.location.href = `/Reservas/Editar/${reservaId}`; // Redirige a la edición
                    // }
                });
                calendar.render();
            }
        });
    </script>
}


<style>
    #calendar {
        width: 100%;
        max-height: 800px;
        margin: 0 auto;
    }

    .content-wrapper {
        margin-left: 250px; /* Ajusta según el ancho del menú lateral */
    }
</style>
